{% extends "layouts/application.njk" %}
{% from "macros/login-form.njk" import loginForm %}

{% block main %}
  <div class="container">
    <div class="box">
      <h1 class="is-size-1 has-text-centered">注册</h1>
      {{ loginForm("/signup", messages, orgDisplay=true) }}
    </div>
  </div>
{% endblock %}
