{% extends "layouts/transport.njk" %}

{% block content %}
  <div class="container">
    <section class="hero is-success">
      <div class="hero-body">
        <p class="title">
          创建成功！
        </p>
        <p class="subtitle">
          点击确定返回
        </p>
      </div>
    </section>
    <section class="section">
      <a class="button is-success is-rounded" href="/dashboard">确认</a>
    </section>
  </div>
{% endblock %}
