{% extends "layouts/producer.njk" %}

{% block content %}
  <div class="container">
    <section class="hero is-info">
      <div class="hero-body">
        <p class="title">
          您输入了错误网址！
        </p>
        <p class="subtitle">
          点击确定返回
        </p>
      </div>
    </section>
    <section class="section">
      <a class="button is-info is-rounded" href="/dashboard">确认</a>
    </section>
  </div>
{% endblock %}
