{% extends "layouts/producer.njk" %}
{% from "macros/farmer-form.njk" import farmerForm %}
{% block content %}
  <div class="container">
    <section class="section">
      {% if status %}
      <h1 class="title">当前农户信息</h1>
      <h2 class="subtitle">farmer details</h2>
      {% else %}
        <h1 class="title">添加农户信息</h1>
        <h2 class="subtitle">请仔细输入以下信息</h2>
      {% endif %}

      {{ farmerForm(result,status) }}
    </section>
  </div>
{% endblock %}
