{% extends "layouts/customer.njk" %}
{% from "macros/cargo-form.njk" import cargoForm %}
{% block content %}
  <div class="container">
    <section class="section">
      <h1 class="title">货运单详情</h1>
      <h2 class="subtitle">cargo info details</h2>
      {{ cargoForm(drivers,result,status,cropId = cropId) }}
    </section>
  </div>
{% endblock %}
