{% extends "layouts/process.njk" %}
{% from "macros/crop-form.njk" import cropForm %}

{% block content %}
  <div class="container">
    <section class="section">
      {% if status %}
      <h1 class="title">原始订单详情</h1>
      <h2 class="subtitle">crop details</h2>
      {% else %}
        <h1 class="title">操作原始订单</h1>
        <h2 class="subtitle">请仔细输入以下信息,一旦输入将无法修改！</h2>
      {% endif %}
      {{ cropForm(plants,result,status) }}
    </section>
  </div>
{% endblock %}
