{% extends "layouts/transport.njk" %}

{% from "macros/trans-form.njk" import transForm %}

{% block content %}
  <div class="container">
      <section class="section">
      {% if status %}
      <h1 class="title">物流商信息</h1>
      <h2 class="subtitle">retailer details</h2>
      {% else %}
        <h1 class="title">添加物流商信息</h1>
        <h2 class="subtitle">请仔细输入以下信息</h2>
      {% endif %}
    {{ transForm("/dashboard/infos",result,status) }}
  </div>
{% endblock %}
