{% extends "layouts/retailer.njk" %}
{% from "macros/product-form.njk" import productForm %}
{% block content %}
  <div class="container">
    <section class="section">

      {% if status %}
      <h1 class="title">销售单详情</h1>
      <h2 class="subtitle">product info details</h2>
      {% else %}
      <h1 class="title">创建销售单</h1>
      <h2 class="subtitle">请仔细输入以下信息，一旦创建将无法修改！</h2>
      {% endif %}
      {{ productForm(traders,result,status) }}
    </section>
  </div>
{% endblock %}
