{% extends "layouts/retailer.njk" %}


{% block content %}
  <div class="container">
    <section class="section">
    <!-- Main container -->
    <nav class="level">
      <!-- Left side -->
      <div class="level-left">
        <div class="level-item">
          <p class="mb-6 title is-3">经销商列表</p>
        </div>
      </div>
      <!-- Right side -->
      <div class="level-right">
        <p class="level-item">
          <a href="/dashboard/create/member" class="button is-info">New</a>
        </p>
      </div>
    </nav>
      <div class="table-container">
        <table class="table is-fullwidth is-hoverable ">
          <thead>
            <tr>
              <th>经销商编号</th>
              <th>经销商名</th>
            </tr>
          </thead>
          <tbody>
            {% for result in results %}
              <tr>
                <th>
                  <a href="/dashboard/member/{{ result.traderId }}">
                    <span class="icon">
                      <i class="fas fa-book" aria-hidden="true"></i>
                    </span>
                    <span>#{{ result.traderId }}</span>
                  </a>
                </th>
                <td>
                  <span class="has-text-grey-dark">{{ result.traderName }}</span>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      </section>
    </div>
  {% endblock %}
