{% macro growForm(farmers,result,status,cropId,platform) %}
<form action="" method="post" enctype="multipart/form-data">
  {% if platform %}
  <div class="field">
    <label class="label">所属农场</label>
        <div class="control">
          <a class="is-link" href="farms/{{ result.farm_id }}">{{ result.farm_name }}</a>
        </div>
  </div>
  {% endif %}

  <div class="field">
    <label class="label">负责农户名</label>
    <div class="control">
      {% if platform %}
        <div class="control">
          <a class="is-link" href="farmers/{{ result.farmer_id }}">{{ result.farmer_name }}</a>
        </div>
      {% elif status %}
        <div class="control">
          <input class="input" name="farmername" type="text" value="{{ result.farmer_name }}" {{ status }} />
        </div>
      {% else %}
        <div class="select">
          <select name="farmername">
            {% for farmer in farmers %}
              <option>{{ farmer.farmerName}}</option>
            {% else %}
              <option>null</option>
            {% endfor %}
          </select>
        </div>
      {% endif %}
    </div>
  </div>

  {% if status %}
    <label class="label">生长状况快照</label>
    <div class="control block">
      <figure>
        <img src="/{{ result.crop_grow_photo_url }}" width="240" height="180">
      </figure>
    </div>
  {% else %}
  <div class="field">
    <label class="label">生长状况快照</label>
    <div class="file has-name is-fullwidth" id="certificate">
      <label class="file-label">
        <input class="file-input" type="file" name="photourl">
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label">
            Choose a file…
          </span>
        </span>
        <span class="file-name">
          File Name
        </span>
      </label>
    </div>
  </div>
  {% endif %}

  <div class="field">
    <label class="label">生长状况</label>
    <div class="control">
      <input class="input" name="growstatus" type="text" value="{{ result.grow_status }}" {{ status }}/>
    </div>
  </div>

  <div class="field">
    <label class="label">肥料名</label>
    <div class="control">
      <input class="input" name="fertilizername" type="text" value="{{ result.fertilizer_name }}" {{ status }}/>
    </div>
  </div>

    <div class="field">
    <label class="label">种植模式</label>
    <div class="control">
      {% if status %}
        <div class="control">
          <input class="input" name="platmode" type="text" value="{{ result.plat_mode }}" {{ status }} />
        </div>
      {% else %}
        <div class="select">
          <select name="platmode">
            <option>设施农业</option>
            <option>观光农业</option>
            <option>无土栽培</option>
            <option>精准农业</option>
          </select>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="field">
    <label class="label">光照条件</label>
    <div class="control">
      {% if status %}
        <div class="control">
          <input class="input" name="illuminationstatus" type="text" value="{{ result.illumination_status }}" {{ status }} />
        </div>
      {% else %}
        <div class="select">
          <select name="illuminationstatus">
            <option>长日照</option>
            <option>中日照</option>
            <option>短日照</option>
            <option>定日照</option>
          </select>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="field">
    <label class="label">备注</label>
    <div class="control">
      <input class="input" name="remarks" type="text" value="{{ result.remarks }}" {{ status }}/>
    </div>
  </div>

  {% if cropId %}
    <div class="control">
    </div>
  {% elif status %}
    <div class="control">
      <a href="/dashboard" class="button is-link">返回</a>
    </div>
  {% else %}
    <div class="field is-grouped">
      <div class="control">
        <button type="submit" class="button is-link">确定</button>
      </div>
      <div class="control">
        <button type="reset" class="button is-link is-light">取消</button>
      </div>
    </div>
  {% endif %}
</form>
<script src="/js/display-img.js" crossorigin="anonymous"></script>
{% endmacro %}